// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.logo {
    height: 45px;
    width: auto;
}

#cartDropdown {
    &::after {
        display: none;
    }

    // a {
    //     text-decoration: none;
    // }

    .cart-svg {
        position: relative;

        span {
            font-size: 15px;
        }

        .count {
            width: 30px;
            text-align: center;
            position: absolute;
            top: 5px;
            left: 8px;
            color: white;
        }

        svg {
            width: 45px;
            height: 45px;
            fill: $primary;
        }
    }

}